body{
    background: #232423;
    background-image: url(/assets/images/intro.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1896px 444px;
}

h1{
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-size: 110px;
    color: #c0d7e0;
    width: 200px;
    margin-top: 330px;
    margin-left: 660px;

    position: absolute;
}

h2{
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-size: 60px;
    color: #eeeeee;
    margin-left: 1000px;
    margin-top: 500px;

    position: absolute;
}

.texts{
    font-family: noto-sans, then;
    color: #eeeeee;
    font-size: 45px;
    width: auto;
    margin-top: 590px;
    margin-left: 850px;

    position: absolute;
}

.ava {
    float: left;
    margin-left: 227px;
    margin-top: 243px;
    width: 432px;
    height: 432px;

    position: absolute;
}

p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.all{
    position: relative;
}
.all img{
    position: absolute;
}

.button{
    float: left;
    margin-top: 680px;
    margin-left: 285px;
    position: absolute;
}
